<h2 id="title">Furnace Component Keywords Tests</h2>
{{#link-to 'helper'}}>Helper{{/link-to}}
{{#link-to 'static'}}>Static{{/link-to}}
{{#link-to 'dynamic'}}>Dynamic{{/link-to}}
{{#link-to 'dynamic-chain'}}>Dynamic Chain{{/link-to}}
{{#link-to 'inheritance'}}>Inheritance{{/link-to}}
{{#link-to 'each'}}>Each{{/link-to}}
{{#link-to 'each-dynamic'}}>Each dynamic{{/link-to}}

{{outlet}}
